# 基础风格：基于 LLVM，但覆盖大括号换行规则
BasedOnStyle: Google

# 大括号换行规则（Allman/BSD 风格）
BreakBeforeBraces: Allman

# 缩进设置
IndentWidth: 4
TabWidth: 4
UseTab: Never
# # 其他 BSD 风格常见选项
# AllowShortBlocksOnASingleLine: false
# AllowShortFunctionsOnASingleLine: None
# AllowShortIfStatementsOnASingleLine: false
# AllowShortLoopsOnASingleLine: false

# 保持代码可读性
ColumnLimit: 80
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
